<ion-content class="welcome-page">
  <div class="content">
    <img src="assets/icon/fondo2.jpg" alt="ChefVision Fondo" class="background-img" />
    <div class="overlay">
      <h1 class="title">¡Descubre tu próxima aventura culinaria!</h1>
      <p class="subtitle">
        Bienvenido a ChefVision.Ai, donde cada ingrediente abre un mundo de recetas diseñadas para ti.
      </p>
      <ion-button expand="block" class="get-started-btn" routerLink="/principal">Comenzar</ion-button>
    </div>
  </div>
</ion-content>
